.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.corner {
  width: 30%;
  height: 30%;
  &.minimize {
    width: 45%;
    height: 45%;
    border-width: 5px;
    &:hover {
      width: 40%;
      height: 40%;
    }
  }
}

.corner-top {
  top: 0;
  border-top: 2px solid $black;
}

.corner-right {
  right: 0;
  border-right: 2px solid $black;
}

.corner-bottom {
  bottom: 0;
  border-bottom: 2px solid $black;
}

.corner-left {
  left: 0;
  border-left: 2px solid $black;
}

.icon-full-screen-alt {
  &:hover {
    .corner {
      &.minimize {
        width: 49%;
        height: 49%;
        border-width: 6px;
      }
    }
  }
}

.title {
  font-size: 24px;
}