$seek-width: calc(100% - 160px);
$volume-width: 50px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

.player-wrapper {
  margin: 100px 0;
  font-size: 0;
  text-align: center;
  #custom-video {
    max-width: 90%;
    min-width: 300px;
  }
}

#custom-controls {
  width: calc(100% - 10px);
  height: 40px;
  bottom: 45px;
  left: 5px;
  padding: 10px;
  z-index: 2147483647;
  border-radius: 10px;
  background: white;
  opacity: 0;
  &:hover {
    opacity: .6;
  }
  &.fool-screen {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    &:hover {
      opacity: .9;
    }
  }
}

#play-pause {
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
}

.play, .pause, .play-ico, .pause-ico {
  height: 100%;
}

.play-ico {
  border-left: 20px solid black;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
}

.pause {
  font-size: 0;
  .pause-ico {
    width: 6px;
    margin: 0 2px;
    background-color: black;
  }
}

.seeker {
  width: $seek-width;
  height: 100%;
  margin: 0 10px;
}

#mute {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  .speaker-part1 {
    top: 50%;
    left: 5px;
    width: 2px;
    height: 6px;
    margin-top: -3px;
    background: black;
  }
  .speaker-part2 {
    top: 50%;
    left: 7px;
    width: 8px;
    height: 14px;
    margin-top: -7px;
    border-top: 4px solid white;
    border-right: 6px solid black;
    border-bottom: 4px solid white;
    background: black;
  }
  .speaker-mute {
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    margin: -1px 0 0 -8px;
    transform: rotate(135deg);
    background: #c0392b;
  }
}

.volume {
  width: $volume-width;
  height: 100%;
  .volume-bar {
    width: 100%;
  }
}

#full-screen {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}

.progress-bar {
  @include appearance(none);
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  border-radius: 2px;
}

.progress-bar::-moz-progress-bar {
  background: #c0392b;
}

.progress-bar::-webkit-progress-bar {
  background: rgba(255, 0, 255, 0.1);
}

.progress-bar::-webkit-progress-value {
  background: #c0392b;
}

.seek-bar {
  z-index: 3;
  width: 100%;
  background-color: transparent !important;
}

input[type=range] {
  @include appearance(none);
  top: 50%;
  left: 0;
  border-radius: 2px;
  background-color: #c0392b;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  vertical-align: middle;
  border-radius: 2px;
  //background-color: rgba(255, 255, 255, 0.7);
  -moz-appearance: none;
  //background-color: red;
  height: 4px;
  width: 100%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
}

input[type=range]::-moz-range-thumb {
  border-radius: 2px;
  height: 10px;
  width: 4px;
  margin-top: -3px;
  background-color: black;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 2px;
  height: 10px;
  width: 4px;
  margin-top: -3px;
  background-color: black;
  border: 0;
}

input[type=range].light::-webkit-slider-thumb {
  box-shadow: 0 0 10px 2px white;
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -40px 0 0 -25px;
  border-radius: 50%;
  font-size: 40px;
  line-height: 50px;
  color: rgba(192, 57, 43, .7);
  background: rgba(255, 255, 255, .7);
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    @include gradient;
    animation: watch 1s infinite linear;
  }
}

@keyframes watch {
  0% {
    @include rotate(90deg);
  }
  100% {
    @include rotate(450deg);
  }
}